albumentations==2.0.5
matplotlib==3.10.1
numpy==2.2.4
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
Pillow==11.1.0
scikit_learn==1.6.1
torch==2.4.1
torch==2.5.1+cu121
torchinfo==1.8.0
tqdm==4.66.5
~orch==2.6.0
