# 忽略 Python 編譯產生的暫存資料夾
__pycache__/
*.py[cod]
*.so

# 忽略 Jupyter Notebook 的 checkpoint
.ipynb_checkpoints/

# 忽略 VSCode 設定（若有）
.vscode/

# 忽略資料集資料夾（如果你不想將它加入 Git）
../dataset/

# 忽略模型權重與訓練過程暫存檔
*.h5
*.pt
*.pth
*.ckpt

# 忽略 log 檔或暫存檔
*.log
*.tmp
*.bak
